.container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eafbff;
  height: 95vh;
}

.status-chip {
  display: inline-block;
  padding: 5px 10px;
  font-size: 14px;
  font-weight: bold;
  border-radius: 20px;
  text-align: center;
}

.active {
  background-color: #5cb85c;
  color: white; 
}

.inactive {
  background-color: #d9534f;
  color: white;
}